body {
  margin: 0;
  font-family: Arial;
}

.fondo {
  background-image: url("https://cdn.pixabay.com/photo/2016/03/11/16/14/capacitor-1251557_1280.jpg");
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjeta {
  background: rgba(255, 255, 255, 0.9);
  padding: 25px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 15px #000;
}

.btn {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  background: #0057ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background: #003bb5;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #333;
}

.animar {
  animation: subir 0.6s ease;
}

@keyframes subir {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
